In [187]:
import pandas as pd

In [188]:
df = pd.read_csv("spotify_millsongdata.csv")

In [189]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [190]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [191]:
df.shape

(57650, 4)

In [192]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [193]:
df =df.sample(15000).drop('link', axis=1).reset_index(drop=True)

In [194]:
df.tail(10)

,artist,song,text
14990,Grateful Dead,Little Red Rooster,"I'm a little red rooster, too lazy to crow for..."
14991,Britney Spears,Perfect Lover,Are we ready \r\nAre we ready ready \r\nAre ...
14992,Etta James,I Just Wanna Make Love To You,I don't want you to be no slave \r\nI don't w...
14993,Queen Latifah,Someone To Watch Over Me,There's a somebody I'm longing to see \r\nI h...
14994,Ugly Kid Joe,Dialogue,I got no use to call you \r\nI got no reason ...
14995,Isley Brothers,Keep It Flowin,"It's 2:00, and we're still going. I can't get ..."
14996,Snoop Dogg,Freaky Tales,These are the tales the freaky tales \r\nThes...
14997,Rascal Flatts,Unstoppable (Olympic Mix),"Ooh \r\nSo, so you made a lot of mistakes \r..."
14998,Chicago,Hollywood,People running everywhere \r\nGot no place to...
14999,Supertramp,Sister Moonshine,"Ooo when I was a small boy, \r\nWell, I could..."

In [195]:
df['text'][1]

"Heaven knows some man has abused you that's why you think I'm gonna use you  \r\nYou say you'd hate yourself in the morning cause you wake up and I'd be gone  \r\nBut if you give me just one more chance I can prove you're wrong  \r\nYou're gonna love yourself in the morning I'm gonna love you all night long  \r\nYou're gonna love yourself in the morning and every morning from now on  \r\nI know what you're thinking and I don't blame you  \r\nIt's gonna take a whole lotta love to change you  \r\nWhen you wake up in the morning you're gonna feel like a brand new girl  \r\nYou're gonna see that it can be such a beautiful world  \r\nYou're gonna love yourself in the morning...  \r\nYou're gonna love yourself in the morning and every morning from now on\r\n\r\n"

In [196]:
df.shape

(15000, 3)

Text Cleaning/ Text Preprocessing

In [197]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [198]:
df.tail(5)

,artist,song,text
14995,Isley Brothers,Keep It Flowin,"it's 2:00, and we're still going. i can't get ..."
14996,Snoop Dogg,Freaky Tales,these are the tales the freaky tales \r these...
14997,Rascal Flatts,Unstoppable (Olympic Mix),"ooh \r so, so you made a lot of mistakes \r ..."
14998,Chicago,Hollywood,people running everywhere \r got no place to ...
14999,Supertramp,Sister Moonshine,"ooo when i was a small boy, \r well, i could ..."

In [199]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def token(txt):
    tokens = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in tokens]
    return " ".join(a)

In [200]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [201]:
df['text'].apply(lambda x: token(x))

0        in the corner by the d.j . unit the flag of be...
1        heaven know some man ha abus you that 's whi y...
2        you 've got to be the rich man you keep your m...
3        how can you refus him now how can you refus hi...
4        wa it someth i did wa it someth i said wa the ...
                               ...
14995    it 's 2:00 , and we 're still go . i ca n't ge...
14996    these are the tale the freaki tale these are t...
14997    ooh so , so you made a lot of mistak walk down...
14998    peopl run everywher got no place to go got no ...
14999    ooo when i wa a small boy , well , i could see...
Name: text, Length: 15000, dtype: object

In [202]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [203]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [204]:
matrix=tfid.fit_transform(df['text'])

In [205]:
similar=cosine_similarity(matrix)

In [206]:
similar[0]

array([1.        , 0.06226969, 0.        , ..., 0.04541477, 0.03371653,
       0.00304956])

In [210]:
df[df['song'] == 'Perfect Lover']

,artist,song,text
14991,Britney Spears,Perfect Lover,are we ready \r are we ready ready \r are we...

In [212]:
df[df['song'] == 'Perfect Lover'].index[0]

14991

# Recommender Function

In [213]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distances = sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:10]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [215]:
recommender('Perfect Lover')

['Keep Off That Friend Of Mine',
 "Don't Make My Baby Blue",
 'Ride My See-Saw',
 'She Gets Down On Her Knees',
 'Hairspray Queen',
 'The Full Bug',
 'Bad Man',
 'We Own The Night',
 "It's Only Love"]

In [216]:
import pickle

In [217]:
pickle.dump(similar,open("similarity.pkl","wb"))

In [218]:
pickle.dump(df, open("df.pkl","wb"))