In [107]:
import pandas as pd

In [108]:
df = pd.read_csv("spotify_millsongdata.csv")

In [109]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [110]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [111]:
df.shape

(57650, 4)

In [112]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [113]:
df =df.sample(10000).drop('link', axis=1).reset_index(drop=True)

In [114]:
df.tail(10)

,artist,song,text
9990,Used,Give Me Love,"I lived out more than a little, \r\nGive my i..."
9991,Justin Bieber,Trust Issues Remix,[Hook - Justin Bieber] \r\nAll I care about i...
9992,Journey,It Could Have Been You,We were so close yet so far away \r\nI'd reac...
9993,Bon Jovi,No Apologies,No apology (no apology) \r\nWe will not back ...
9994,Alison Krauss,When You Say Nothing At All,It's amazing how you can speak right to my hea...
9995,Chuck Berry,Jamaica Farewell Song,"Down the way where the nights are gay, \r\nAn..."
9996,Judas Priest,Dying To Meet You,Came in this morning high on a bird's wing \r...
9997,John Mellencamp,American Dream,Written by John Mellencamp \r\n \r\nI had a ...
9998,Yellowcard,Twenty Three,I got to tell you that he waited all his life ...
9999,Widespread Panic,Better Off,Funnin' round Grandpa's farm \r\nReally groov...

In [115]:
df['text'][1]

"All right, listen now. At this time I would like to introduce a friend of\r\nours,  \r\na very talented guy named John Sebastian. Come on man.  \r\nMan, that's what I call a New York joint, man!  \r\nYou can pick your teeth with a New York joint!  \r\nWell, I'm the little red rooster  \r\nToo lazy to crow the day.  \r\nLittle red rooster  \r\nToo lazy to crow the day.  \r\nKeep everything in the barnyard  \r\nUpset in every way.  \r\n  \r\nDogs begin to bark  \r\nThe hounds begin to howl.  \r\nDogs begin to bark and  \r\nThe hounds begin to howl.  \r\nLook out strange cat people  \r\nThe rooster's on the prowl.  \r\n  \r\nYeah, dogs begin to bark  \r\nThe hounds begin to howl.  \r\nDogs begin to bark  \r\nThe hounds begin to howl.  \r\nLook out strange cat people  \r\nYeah, the rooster's on the prowl.  \r\n  \r\nIf you see my rooster  \r\nCome on man, drive him home.  \r\nSee my rooster, babe  \r\nCome on man, drive him home.  \r\nAin't been no peace in the barnyard  \r\nSince my little red rooster been gone.  \r\n  \r\nWell, I'm the little red rooster, babe  \r\nToo lazy to crow the day.  \r\nWell, I'm the little red rooster, babe  \r\nToo lazy to crow the day.  \r\nKeep everything in the barnyard  \r\nUpset in every way.\r\n\r\n"

In [116]:
df = df.sample(5000)

In [117]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [118]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [119]:
df.tail(5)

,artist,song,text
506,Lionel Richie,Dance The Night Away,"one kiss, intrigue \r you're all alone with m..."
4892,INXS,All The Voices,deep down in my heart \r there is a lot of wo...
46,Bosson,It's Over Now,"lyrics:bosson, music: bosson, deeno \r i'm si..."
774,Christmas Songs,Christmas To Remember,you've made this a christmas to remember \r s...
3536,Van Halen,Outta Love Again,"ooh, woman and a woman, them are silly games y..."

In [120]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def token(txt):
    tokens = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in tokens]
    return " ".join(a)

In [121]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [122]:
df['text'].apply(lambda x: token(x))

3675    now that you 're gone i close my eye and softl...
3910    old men cri , young men die world still turn a...
2380    well , first i have to tell you that i 'm not ...
174     when i think how life use to be , alway walk i...
9962    i 'm sit on top of the world just rollin ' alo...
                              ...
506     one kiss , intrigu you 're all alon with me so...
4892    deep down in my heart there is a lot of word t...
46      lyric : bosson , music : bosson , deeno i 'm s...
774     you 've made thi a christma to rememb springti...
3536    ooh , woman and a woman , them are silli game ...
Name: text, Length: 5000, dtype: object

In [123]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [124]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [125]:
matrix=tfid.fit_transform(df['text'])

In [126]:
similar=cosine_similarity(matrix)

In [127]:
similar[0]

array([1.        , 0.10855282, 0.00345548, ..., 0.02215019, 0.01740845,
       0.02624946])

In [129]:
df[df['song'] == 'All The Voices']

     artist            song                                               text
4892   INXS  All The Voices  deep down in my heart  \r there is a lot of wo...

In [130]:
df[df['song'] == 'All The Voices'].index[0]

4892

# Recommender Function

In [134]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distances = sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:10]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [135]:
recommender('All The Voices')

['Jungle Man',
 'Man In The Middle',
 'Dance Of Hope',
 'Middle Of The Road',
 "It's A Man's World",
 'You Might Need A Man',
 'Home Again',
 'Man Of The House',
 'River Of Dreams']

In [139]:
import pickle

In [140]:
pickle.dump(similar,open("similarity","wb"))

In [141]:
pickle.dump(df, open("df","wb"))